<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @*جهت اضافه کردن استایلهاي جدید اضافه شده اند.*@
    <link href="~/Content/Meh/BootstrapRtl/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/Meh/MehRtLMenu.css" rel="stylesheet" />
    <link href="~/Content/Meh/Meh.css" rel="stylesheet" />
    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("صفحه نخست", "Index", "Home")</li>

                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">اطلاعات پایه<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("شهرها", "Index", "Cities")</li>
                            <li>@Html.ActionLink("استانها", "Index", "Provinces")</li>
                            <li>@Html.ActionLink("کشورها", "Index", "Countries")</li>
                            <li>@Html.ActionLink("واحدهای زمانی", "Index", "DurationTypes")</li>
                            <li>@Html.ActionLink("جنسیت", "Index", "Genders")</li>
                            @*<li class="nav-divider"></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">اطلاعات پایه پرسنلی<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("رشته دانشگاهی", "Index", "AcademicalField")</li>
                            <li>@Html.ActionLink("گروه خونی", "Index", "BloodTypes")</li>
                            <li>@Html.ActionLink("مدرک دانشگاهی", "Index", "Degrees")</li>
                            <li>@Html.ActionLink("مدرک دانشگاهی", "Index", "DegreeTypes")</li>
                            <li>@Html.ActionLink("وضعیت مدرک", "Index", "DegreeStates")</li>
                            <li>@Html.ActionLink("نوع استخدام کارمند", "Index", "EmploymentTypes")</li>
                            <li>@Html.ActionLink("حالت کار کارمند", "Index", "EmploymentStates")</li>
                            <li>@Html.ActionLink("مذهب", "Index", "Religions")</li>
                            <li>@Html.ActionLink("سطح مدرک", "Index", "DegreeTypes")</li>
                            <li>@Html.ActionLink("وضعیت تاهل", "Index", "FamilialTypes")</li>
                            <li>@Html.ActionLink("مذهب", "Index", "Religions")</li>
                           
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">اطلاعات کارکنان<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("شماره تماسها", "Index", "Conatcts")</li>
                            <li>@Html.ActionLink("کارمندان", "Index", "Employee")</li>
                            <li>@Html.ActionLink("کارت کارمندی", "Index", "EmployeeCard")</li>
                            <li>@Html.ActionLink("وضعیت تاهل کارمندان", "Index", "EmployeeAcademicalResumes")</li>
                            <li>@Html.ActionLink("وضعیت تاهل کارمندان", "Index", "EmployeeFamilialType")</li>
                            <li>@Html.ActionLink("چارت سازمانی کارمندان", "Index", "EmployeeOrganChart")</li>
                            <li>@Html.ActionLink("واحدها", "Index", "Units")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">شرکتها<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("شرکتها", "Index", "Companies")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">اشخاص<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("اشخاص", "Index", "People")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PSEEZ</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
