@model PseezBasic.UI.Models.Company

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا با حذف این مورد موافق هستید؟</h3>
<div>
    <h4>شرکت</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AliasName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AliasName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatinName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatinName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AliasLatinName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AliasLatinName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComapnyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComapnyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seconder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seconder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileSeconder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileSeconder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileSeconder2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileSeconder2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalCodeAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalCodeAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAgent2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAgent2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalCodeAgent2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalCodeAgent2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneAgent2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneAgent2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileAgent2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileAgent2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShebaNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShebaNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
