@model PseezBasic.UI.Models.Province

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا با حذف این مورد موافق هستید؟</h3>
<div>
    <h4>استان</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
